<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div *ngIf="scheduleService.display">
                <h3>
                    Novo Contato
                </h3>
                <form [formGroup]="form" (ngSubmit)="saveForm()">
                    <div class="form-group row">
                        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="nome" class="form-control" id="nome"
                                placeholder="Digite o nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" formControlName="email" class="form-control" id="email"
                                placeholder="Digite o email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="telefone" class="form-control" id="telefone"
                                placeholder="Digite o telefone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="endereco" class="col-sm-2 col-form-label">Endereco</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="endereco" class="form-control" id="endereco"
                                placeholder="Digite o endereço">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-5">Adicionar contato</button>

                </form>
            </div>
            <div *ngIf="!scheduleService.display">
                <app-list-contacts></app-list-contacts>
            </div>
        </div>
    </div>
</div>