<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="scheduleService.display">
                <h3>
                    Novo Contato
                </h3>
                <form [formGroup]="form" (ngSubmit)="saveForm()">
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="nome" class="form-control" id="colFormLabel"
                                placeholder="Digite o nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" formControlName="email" class="form-control" id="colFormLabel"
                                placeholder="Digite o email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="telefone" class="form-control" id="colFormLabel"
                                placeholder="Digite o telefone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Endereco</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="endereco" class="form-control" id="colFormLabel"
                                placeholder="Digite o endereço">
                        </div>
                    </div>

                    <!-- <button (click)="saveForm()" class="btn btn-primary mb-5">Salvar contato</button> -->
                    <button type="submit" class="btn btn-primary mb-5">SUBMITAR contato</button>

                </form>
            </div>

            <div *ngIf="!scheduleService.display">
                <h3>
                    Contato
                </h3>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of listSchedules">
                            <th>{{contact.nome}}</th>
                            <td>{{contact.email}}</td>
                            <td>{{contact.telefone}}</td>
                            <td>{{contact.endereco}}</td>
                            <td><button class="btn-danger" (click)="deleteContact(contact)">Apagar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>